{% include "header.html" %}

<h1>Orders</h1>
{% if global_orders_list %}
    <table class="orders_table">
        <tr>
            <th>Created</th>
            <th>Market</th>
            <th>Type</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {% for order in global_orders_list %}
        <tr>
            <td>{{ order.created }}</td>
            <td><a href="/trade/markets/{{ order.market.id }}" title="View Market for {{ order.market }}">{{ order.market }}</a></td>
            <td>{{ order.type }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.quantity }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No active orders.</p>
{% endif %}

{% include "footer.html" %}

